<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<link href='http://fonts.googleapis.com/css?family=Nunito:400,300,700' rel='stylesheet' type='text/css'>
<link href="css/main.css" rel="stylesheet" type="text/css" />

</head>

<body>
<!--Main Wrapper-->
<div class="wrapper">

<!--Top Section and Header-->
<div id="topSection">

<!--Top-->
<div id="top">

<div id="logo">

<a href="{$SITE_URL}"><img src="images/logo.png" alt="" /></a>

</div>


<!--Nav-->
<div id="top_nav">
<ul>
    <li><a href="{$SITE_URL}">Home</a></li>
    <li><a href="{$SITE_URL}login.php">Login</a></li>
    <li><a href="{$SITE_URL}about.php">About</a></li>
    <li><a href="{$SITE_URL}publishers.php">Publishers</a></li>            
    <li><a href="{$SITE_URL}advertisers.php">Advertisers</a></li>                
    <li><a href="{$SITE_URL}contact.php">Contact</a></li>                    
</ul>
</div>
<!--end Nav-->


</div>
<!--Top-->


<!--Header-->
<div id="header">

<div id="introTxt">

    <div class="heading">EARN MONEY FROM YOUR CONTENT</div>
    <div class="desc">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</div>
    <div class="btns">
        <a href="#"><img src="images/learn_btn.png" alt="" /></a>  <a href="{$SITE_URL}register.php"><img src="images/signup_btn.png" alt="" /></a>
    </div>

</div>


</div>
<!--End Header-->

</div>
<!--End Top Section and Header-->


<div class="gap20px"></div>


<!--Overview-->
<div class="clear">


<div class="infoBox left">
<p class="heading1">What is CPA Network ?</p>
<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
</div>


<div class="infoBox right">
<p class="heading1">Why CPA Network ?</p>
<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
</div>


</div>
<!--End Overview-->


</div>
<!--End Main Wrapper-->

<div class="gap20px"></div>
<!--Wide Separator-->
<div class="wide_separator">&nbsp;</div>
<div class="gap20px"></div>



<!--Main Wrapper-->
<div class="wrapper">


<!--Index 3 Icons-->
<div class="indexOverviewIcons">

<div class="box" style="margin-left:0">
<div class="img"><img src="images/promote_icon.png" alt="" /></div>
<div class="desc">PROMOTE OUR OFFERS ON YOUR CONTENT PAGE</div>
</div>


<div class="box">
<div class="img"><img src="images/visitor_icon.png" alt="" /></div>
<div class="desc">YOUR VISITOR WILL COMPLETE EASY OFFERS</div>
</div>



<div class="box">
<div class="img"><img src="images/earn_icon.png" alt="" /></div>
<div class="desc">EARN FROM EACH OFFER COMPLETION</div>
</div>



</div>
<!--End Index 3 Icons-->


<div class="gap20px"></div>
<div class="gap20px"></div>
<!--Publisher Overview-->
<div id="publisher_overview_box">

<div class="txt">
<p class="heading">PUBLISHERS</p>
<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
</div>
<div class="btn"><a href="#"><img src="images/getstarted1.png" alt="" /></a></div>

</div>
<!--End Publisher Overview-->
<div class="gap20px"></div>
<div class="gap20px"></div>

</div>
<!--End Main Wrapper-->


<!--Footer-->
<div id="footer">

<!--Sub Footer-->
<div id="sub_footer">


<!--Section 1-->
<div class="section1">
<p class="footer_heading">About Us</p>
<p>CPA Network is a global Performance Marketing Network that provides content locking and monetization solutions for online publishers interested in maximizing their traffic's earnings.</p>
<p>» Powerful Tracking Platform</p>
<p>» Exclusive Publisher Tools</p>
<p>» 3% Referral Commissions</p>

<p>Join our community of happy publishers!</p>


</div>
<!--End Section - 1-->


<!--Section 2-->
<div class="section2">
<p class="footer_heading">Network</p>

<p>» <a href="#">Publishers</a></p>
<p>» <a href="#">Features</a></p>
<p>» <a href="#">Why Us?</a></p>
<p>» <a href="#">FAQ</a></p>
<p>» <a href="#">Terms Of Service</a></p>
<p>» <a href="#">Privacy Policy</a></p>
<p>» <a href="#">Contact Us</a></p>




</div>
<!--End Section - 2-->


<!--Section 3-->
<div class="section2">
<p class="footer_heading">CPA Network</p>
<p>PO BOX 1 5342</p>
<p>Gainesville, FL 35212</p>
<br />
<img src="images/soso.png" alt="" />
</div>
<!--End Section - 3-->




</div>
<!--End Sub footer-->



<!--Footer Bottom-->
<div class="footer_bottom">

<div class="copyright">© 2009-2013 CPA network LLC. All Rights Reserved</div>

<div class="social_links">
<a href="#">f</a>&nbsp;<a href="#">t</a>
</div>

</div>
<!--End Footer Bootom-->



</div>
<!--End Footer-->

</body>
</html>
